# Secret JWT used by api-service, change it in .env
JWT_SECRET=dev-jwt-secret-dev-jwt-secret-dev-jwt-secret-dev-jwt-secret

# Eureka URL used by all services inside docker
EUREKA_URL=http://eureka-server:8761/eureka

# Gateway rate limit and window configuration
GATEWAY_RATE_LIMIT_MAX_REQUESTS=20
GATEWAY_RATE_LIMIT_WINDOW=10000